# we never need existing dist and node_modules
# other files listed here are of no use to
# the image either
dist
cdk.out
README.md
.env.*
**/.dockerignore
**/.git
**/.gitignore
**/.vscode
**/Dockerfile*
**/node_modules
**/npm-debug.log
.elasticbeanstalk/*
